
.transactionHistory{
  margin: 0 20px;
  width: calc(100% - 40px);
  height: 6em;
  border: 1px;

}

.tableTitle {
    height: 40px;
}

.title{
  font-size: 16px;
  background-color: #00BCD5;
  color: white;
}